body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://img.freepik.com/foto-gratis/pesas-ejercicio-mancuernas-hierro-placas-extra_1423-223.jpg?t=st=1710019651~exp=1710023251~hmac=3c1db2240c179652219aced2a696ba6d04bdc7302833481b2f911561dfa1b483&w=996');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: initial;
}

.active {
    border-bottom: 3px solid #D43B3B;
}

.welcomeMessage{
    font-size: xx-large;
    opacity: 0.50;
    animation: animate 1s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0.50;
        transform: translate(0,100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

