.active {
    border-bottom: 3px solid #D43B3B;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/private/private_bg.jpg');
}


.filter-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
}


.table-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 100px 50px 100px;
    overflow-x: auto;
    font-family: "Poppins", sans-serif;
}


thead {
    font-size: 20px;
}

.table th#sortID, .table td#sortID {
    width: 120px;
}

.table th#sortStatus, .table td#sortStatus {
    width: 200px;
}

.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

th {
    min-width: 50px;
    position: relative;
}

.sort-arrow {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 20px;
    height: 0.5em;
    text-align: center;
}

th span {
    display: inline-block;
    width: calc(100% - 25px);
    color: #8D8D8D;
}

.btn-toggle {
    width: 100%;
    min-width: 120px;
    height: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
}

.btn-toggle[data-state="activo"] {
    background-color: green;
    color: white;
    font-weight: bolder;
}

.btn-toggle[data-state="inactivo"] {
    background-color: #D43B3B;
    color: white;
    font-weight: bolder;
}


#tablaUsuario tr td:last-child,
#tablaUsuario tr th:last-child {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    padding-left: 5px;
    padding-right: 0;
}

.btn-warning {
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bolder;
}

.image-container {
    text-align: center;
}


.no-result-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    margin-right: 73px;
    background-color: black;
    position: relative;

}

.no-result-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, black 30%);
    pointer-events: none;
}

.no-result-container img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
