body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/private/private_bg1.jpg');
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: initial;
}

.active {
    border-bottom: 3px solid #D43B3B;
}