body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/private/private_reports.jpg');
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: initial;
}

.active {
    border-bottom: 3px solid #D43B3B;
}

.welcomeMessage {
    font-size: xx-large;
    opacity: 0.50;
    animation: animate 1s ease-in-out 1 forwards;
    color: white;
    font-family: "Poppins", sans-serif;
}

@keyframes animate {
    from {
        opacity: 0.50;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

