
.nav{
    background-color: #1D1D1D;
}

.main{
    flex-grow: 1;
}
.welcomeMessage{
    font-size: xx-large;
    opacity: 0.50;
    animation: animate 1s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0.50;
        transform: translate(0,100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}