body{
    display: grid;
    grid-template-rows: 100px auto 248px;
    grid-template-columns: 1fr;
    grid-template-areas:
                'navbar navbar navbar'
                'main main main'
                'footer footer footer';
    height: 100vh;
}


#nav{
    grid-area: navbar;
}

#Footer{
    grid-area: footer;
}

#Contenido{
    grid-area: main;
}